.white{background-color: #B0B0B0 ;
height: 785px;
width:100px;}
.white1{background-color: yellow;
width:100px;
height: 420px;
margin-top: -430px;
}



.white2{background-color: white;
margin-left:-159px;
height:130px;
width: 200px;
}

.white22{background-color: #000033;
width: 200px;
height: 500px;
margin-left: -159px;
margin-top: -10px;}

.white222{background-color: yellow;
width:200px;
height: 155px;
margin-left: -159px;
margin-top: -10px;}

.white3{background-color: yellow;
width:135px;
height: 785px;
margin-left: -217px;}

.white33{background-color: #B0B0B0 ;
width: 330px;
height: 265px;
margin-top: -430px;
margin-left: -217px;}

.white333{background-color: #580000 ;
width: 931px;
height: 155px;
margin-top: -10px;
margin-left: -217px;
}






.white4{background-color: white;
width:600px;
height:300px;
margin-left:-342px}

.white44{background-color: #000033;
  width:600px;
height:235px;
margin-left:-342px;
margin-top: -180px;
}

.white444{background-color: #580000;
width: 402px;
height: 145px;
margin-left: -147px;
margin-top:120px}

.white5{background-color: yellow;
  width: 200px;
  height: 365px;
margin-left: -3px}
.white55{background-color: #000033;
width:200px;
height:265px;
margin-left: -4px;
margin-top: -10px;}

html, body
{
    height: 100%;
}
